.wrapper-footer {
	width: $background-front-width;
	height: $background-front-footer-height;
	margin-left: $background-front-margin-left;
	background-color: $background-color-front;
	margin-bottom: 38px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	.phone, .email {
		display: flex;
		margin-bottom: $footer-margin-bottom-item;

		i {
			width: 18px;
			height: 18px;
			margin-right: $footer-margin-right-icon;
		}

		p {
			font-size: $font-size-p;
		}

		span {
			font-size: $font-size-p;
			margin: $footer-margin-span-sns;
		}
	}

	.sns {
		display: flex;
		margin-bottom: $footer-margin-bottom-item;

		.circle {
			border: 1px solid $footer-color-circle;
			border-radius: 50%;
			background-color: $footer-color-circle;
			width: 35px;
			height: 35px;
			position: relative;
			margin: $footer-margin-span-sns;

			i {
				position: absolute;
				top: 20%;
				left: 25%;
				z-index: 2;
				width: 10px;
				height: 10px;
				color: $font-color-white;
			}
		}
		
	}
}