.wrapper-header {
	width: $background-front-width;
	height: $background-front-header-height;
	margin-left: $background-front-margin-left;
	background-color: $background-color-front;
	margin-top: 38px;
	position: relative;

	.icon {
		position: absolute;
		top: 12%;
		left: 2%;
	}

	.header-nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: $header-margin-nav;
		padding: 0;

		.lists {

			li {
				display: inline-block;
				position: relative;

				a {
					display: block;
					width: 160px;
					height: 60px;
					text-align: center;
					line-height: 2.8;
					color: $font-color-black;
					background-color: $background-color-front;
					transition: 0.1s;
				}

				&:hover > a:not(.menus) {
					color: $font-color-white;
					background-color: $background-color-back;
				}

				ul {
					z-index: 2;
					position: absolute;
					top: 100%;
				
					li {
						overflow: hidden;
						height: 0;
						transition: 0.5s;

						a {
							border: 3px solid $background-color-back;
							border-bottom: 0;

							&:hover {
								font-weight: bold;
							}
						}

						&:last-child a {
							border-bottom: 3px solid $background-color-back;
						}
					}	
				}

				&:hover>ul>li {
					overflow: visible;
					display: block;
					height: 60px;
				}
			}
		}

	}
}