/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Vollkorn");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 20px;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #784C2C;
  color: #464646;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html {
  font-family: "Open+Sans", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  font-size: 20px;
}

::selection {
  color: white;
  background: black;
}

.wrapper-header {
  width: 95%;
  height: 80px;
  margin-left: 35px;
  background-color: #FFFFFF;
  margin-top: 38px;
  position: relative;
}

.wrapper-header .icon {
  position: absolute;
  top: 12%;
  left: 2%;
}

.wrapper-header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1% 1% 0 0;
  padding: 0;
}

.wrapper-header .header-nav .lists li {
  display: inline-block;
  position: relative;
}

.wrapper-header .header-nav .lists li a {
  display: block;
  width: 160px;
  height: 60px;
  text-align: center;
  line-height: 2.8;
  color: #464646;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.wrapper-header .header-nav .lists li:hover > a:not(.menus) {
  color: #FFFFFF;
  background-color: #784C2C;
}

.wrapper-header .header-nav .lists li ul {
  z-index: 2;
  position: absolute;
  top: 100%;
}

.wrapper-header .header-nav .lists li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.wrapper-header .header-nav .lists li ul li a {
  border: 3px solid #784C2C;
  border-bottom: 0;
}

.wrapper-header .header-nav .lists li ul li a:hover {
  font-weight: bold;
}

.wrapper-header .header-nav .lists li ul li:last-child a {
  border-bottom: 3px solid #784C2C;
}

.wrapper-header .header-nav .lists li:hover > ul > li {
  overflow: visible;
  display: block;
  height: 60px;
}

.wrapper {
  width: 95%;
  height: 100%;
  margin-left: 35px;
  background-color: #FFFFFF;
}

.wrapper .top-img {
  position: relative;
}

.wrapper .top-img img {
  object-fit: cover;
  width: 100%;
  height: 570px;
  opacity: 0.5;
}

.wrapper .top-img h1 {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 50px;
  font-family: "Vollkorn", serif;
  color: #464646;
}

.menu {
  margin-left: 38px;
  height: 100%;
  background-color: #FFFFFF;
}

.menu h1 {
  font-size: 50px;
  font-family: "Vollkorn", serif;
  color: #464646;
  margin-top: 8%;
}

.menu .meal h2 {
  font-family: "Allura", serif;
  font-size: 40px;
  margin: 50px 0 20px 0;
}

.menu .meal .item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.menu .meal .item:last-child {
  margin-bottom: 0px;
}

.menu .meal .item h3 {
  margin-right: 15px;
}

.menu .meal .item p {
  font-weight: lighter;
}

.menu .drink h2 {
  font-family: "Allura", serif;
  font-size: 40px;
  margin: 50px 0 20px 0;
}

.menu .drink .beer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.menu .drink .beer > h3 {
  margin-right: 15px;
}

.menu .drink .item h3 {
  margin-bottom: 10px;
}

.menu .drink .item h3:last-child {
  margin-bottom: 0px;
}

.menu .drink h3:not(.heading) {
  font-weight: lighter;
}

.access {
  margin-left: 38px;
}

.access h1 {
  font-size: 50px;
  font-family: "Vollkorn", serif;
  color: #464646;
  margin-top: 8%;
}

.access h2 {
  font-size: 30px;
  margin: 50px 0;
}

.access .map {
  text-align: center;
  margin-right: 3%;
}

.access .map img {
  width: 80%;
}

.contact .background {
  background-color: #784C2C;
  width: 783px;
  height: 448px;
  position: relative;
  margin: 250px 0 0 400px;
}

.contact .form {
  border: 1px solid #784C2C;
  background-color: #FFFFFF;
  width: 756px;
  height: 491px;
  padding-left: 20px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 2;
}

.contact .form h1 {
  font-size: 50px;
  font-family: "Vollkorn", serif;
  margin-top: 20px;
}

.contact .form input {
  margin-top: 20px;
}

.contact .form input[type="text"], .contact .form input[type="email"], .contact .form textarea {
  background-color: #F6E0C4;
  font: 1em "Open+Sans", sans-serif;
  border: 0;
}

.contact .form input[placeholder="Name"], .contact .form input[placeholder="E-mail"], .contact .form textarea[placeholder="Message"] {
  color: #989595;
  font-size: 20px;
  font-weight: lighter;
  padding: 20px;
}

.contact .form input[type="text"], .contact .form input[type="email"] {
  width: 422px;
  height: 53px;
}

.contact .form textarea {
  width: 595px;
  height: 133px;
  margin: 20px 0;
}

.contact .form button[type="submit"] {
  background-color: #784C2C;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 237px;
  height: 60px;
}

.wrapper-footer {
  width: 95%;
  height: 200px;
  margin-left: 35px;
  background-color: #FFFFFF;
  margin-bottom: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.wrapper-footer .phone, .wrapper-footer .email {
  display: flex;
  margin-bottom: 15px;
}

.wrapper-footer .phone i, .wrapper-footer .email i {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.wrapper-footer .phone p, .wrapper-footer .email p {
  font-size: 16px;
}

.wrapper-footer .phone span, .wrapper-footer .email span {
  font-size: 16px;
  margin: 0 23px;
}

.wrapper-footer .sns {
  display: flex;
  margin-bottom: 15px;
}

.wrapper-footer .sns .circle {
  border: 1px solid #6E6E6E;
  border-radius: 50%;
  background-color: #6E6E6E;
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0 23px;
}

.wrapper-footer .sns .circle .fab {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #FFFFFF;
}

.wrapper-footer .sns .circle .fa-facebook-f {
  top: 20%;
  left: 30%;
  z-index: 2;
}

.wrapper-footer .sns .circle .fa-twitter {
  top: 20%;
  left: 20%;
  z-index: 2;
}

.wrapper-footer .sns .circle .fa-instagram {
  top: 20%;
  left: 23%;
  z-index: 2;
}
