//font-color
$font-color-black: #464646;
$font-color-white: #FFFFFF;

//font-size
$font-base-size: 20px;
$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-p: 16px;


//background-color
$background-color-back: #784C2C;
$background-color-front: #FFFFFF;